<span style="display: none;" weid="prototype">
<span style="cursor: pointer;" weid="text"></span>
<input weid="textedit" style="display: none;" />
</span>

<button weid="remove" style="cursor: pointer; display: none;">-</button>

<ul style="list-style-type: none;">
<span weid="list">
</span>
<li>
<button weid="add" style="cursor: pointer;">+</button>
<input weid="property" />: 
<select weid="type">
<option value="string">String</option>
<option value="array">Array of Objects</option>
<option value="object">Object</option>
</select>
</li>
</ul>

